PORT = 3000

# PRISMA ORM
DATABASE_URL="mysql://localhost:username@password:3306/expenses"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="expenses"
DATABASE_HOST="localhost"
DATABASE_PORT=3306